body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-contenedor{
    width: 500px;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p, form p{
    text-align: center;
}

input, button{
    border-radius: 5px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}
button{
    background-color: rgb(2, 37, 102);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.error{
    color: red;
}
.esconder{
    display: none;
}